/* .types-container-main {
  @apply bg-amber-100 py-4 px-10;
} */

.types-container-main{
  /* background-color:#9DC08B; */
  box-shadow: 0 8px 32px 0 rgba(177, 181, 234, 0.37);
backdrop-filter: blur( 5px );
-webkit-backdrop-filter: blur( 2px );
border-radius: 10px;

}


.types-list-container {
  @apply w-full flex flex-row justify-evenly items-center px-2.5 py-0;
}

.btn {
    @apply font-bold py-2 px-4 rounded;
  }
  
.btn-white {
  @apply bg-white text-black border border-green-500 focus:bg-green-500 focus:text-white;
}
.btn-green{
  @apply  bg-green-500 text-white
}
.btn-green:hover {
  @apply bg-green-500 text-white;
}
